{% extends "layouts/base.njk" %}
{% block mainContent %}

        <div class="p-0 col-span-12 lg:col-span-8 bg-neutral-800 text-white mt-24 max-w-2xl">
           <article class="max-w-full p-12">
            <div class="prose text-white">
               <h1 class="text-3xl md:text-4xl pb-8 mb-8 font-medium text-white brand-font">
                {% if contentTitle %}
                    {{ contentTitle }}
                {% else %}
                    {{ title }}
                {% endif %}
                </h1>
                {{ content | safe }}
                </div>

                <p id="clock"></p>

<script>
// Set the date we're counting down to
var countDownDate = new Date("Jan 20, 2029 19:00:00").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get today's date and time
  var now = new Date().getTime();

  // Find the distance between now and the count down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Display the result in the element with id="clock"
  document.getElementById("clock").innerHTML = days + "d " + hours + "h "
  + minutes + "m " + seconds + "s ";

  // If the count down is finished, write some text
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("clock").innerHTML = "EXPIRED";
  }
}, 1000);
</script>


            </article>
        </div>

{% endblock %}